summary {
  font-size: 50px;
  margin-top: 65px;
  margin-left: 40px;
  color: #ffffff;
  padding-left: 30px;
}

a {
  color: #ffffff;
}

iframe {
  margin-left: 120px;
  width: 710px;
  height: 400px;
  padding-bottom: 40px;
}

li {
  font-size: 40px;
  margin-top: 60px;
  margin-left: 30px;
}

.botton {
  border-radius: 15px;
  text-decoration: none;
  padding: 10px;
  width: 600px;
}

/*メニューバー*/
.sum1 {
  background-color: #dc143c;
  border-bottom: solid 8px rgb(83, 0, 12);
}

.sum2 {
  background-color: #0000cd;
  border-bottom: solid 8px #0101ab;
}

.sum3 {
  background-color: #88860b;
  border-bottom: solid 8px #6a6803;
}

.sum4 {
  background-color: #ff33cc;
  border-bottom: solid 8px #d917a8;
}

.sum5 {
  background-color: #ff4f02;
  border-bottom: solid 8px #be430e;
}

.sum6 {
  background-color: #228b22;
  border-bottom: solid 8px #106110;
}

.sum7 {
  background-color: #a0522d;
  border-bottom: solid 8px #6f3d26;
}

.sum8 {
  background-color: #9932cc;
  border-bottom: solid 8px #743095;
}

:is(.sum1, .sum2, .sum3, .sum4, .sum5, .sum6, .sum7, .sum8):active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  /*下に動く*/
  transform: translateY(4px);
  /*影を小さく*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.if1 {
  background-color: #ffb6c1;
}

.if2 {
  background-color: #afeeee;
}

.if3 {
  background-color: #eee8aa;
}

.if4 {
  background-color: #ffd5ec;
}

.if5 {
  background-color: #ffc7af;
}

.if6 {
  background-color: #edffbe;
}

.if7 {
  background-color: #f0e68c;
}

.if8 {
  background-color: #ee82ee;
}