summary {
  font-size: 50px;
  margin-top: 65px;
  margin-left: 40px;
  color: #ffffff;
  padding-left: 30px;
}

a {
  color: #ffffff;
}

iframe {
  margin-left: 120px;
  width: 710px;
  height: 400px;
  padding-bottom: 40px;
}

li {
  font-size: 40px;
  margin-top: 60px;
  margin-left: 30px;
}

.botton {
  border-radius: 15px;
  text-decoration: none;
  padding: 10px;
  width: 600px;
}

.sum1 {
  background-color: #dc143c;
}

.if1 {
  background-color: #ffb6c1;
}

.sum2 {
  background-color: #0000cd;
}

.if2 {
  background-color: #afeeee;
}

.sum3 {
  background-color: #88860b;
}

.if3 {
  background-color: #eee8aa;
}

.sum4 {
  background-color: #ff33cc;
}

.if4 {
  background-color: #ffd5ec;
}

.sum5 {
  background-color: #ff4f02;
}

.if5 {
  background-color: #ffc7af;
}

.sum6 {
  background-color: #228b22;
}

.if6 {
  background-color: #edffbe;
}

.sum7 {
  background-color: #a0522d;
}

.if7 {
  background-color: #f0e68c;
}

.sum8 {
  background-color: #9932cc;
}

.if8 {
  background-color: #ee82ee;
}

.sum9 {
  background-color: #708090;
}

.if9 {
  background-color: #dcdcdc;
}